.footer {
	background: linear-gradient(
		180deg,
		rgba(205, 205, 205, 1) 0%,
		rgba(232, 232, 232, 1) 60%,
		rgba(249, 249, 249, 1) 80%,
		rgba(255, 255, 255, 1) 100%
	);

	&-wrapper {
		max-width: 1366px;
		margin: auto;
	}

	.super-font {
		color: #af0061;
		font-weight: bold;
	}

	&__logo {
		padding: 4rem 1rem;
		width: fit-content;
		margin: auto;
		text-align: center;

		&-title {
			margin-bottom: 3rem;
			span {
				display: block;
			}
		}

		&-img {
			max-width: 220px;
		}
	}

	&__menu {
		margin-bottom: 1.5rem;
		&-top {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			li {
				margin: 0.5rem 1rem;
				a {
					text-decoration: none;
					color: black;
					font-size: 14px;
					font-weight: bold;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&-bottom {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
			text-align: center;
			p {
				margin: 0.5rem 1rem;
				font-size: 14px;
				color: #c5c5c5;
			}

			&-docs {
				a {
					display: inline-block;
					margin: 0.5rem 1rem;
					font-size: 14px;
					color: black;
					font-weight: bold;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media (min-width: 640px) {
	.footer {
		&__logo {
			&-title {
				span {
					margin-left: 13rem;
				}
			}
		}
	}
}

@media (min-width: 1366px) {
	.footer {
		&__logo {
			padding: 7rem 0rem;

			&-img {
				max-width: none;
			}
		}
		&__menu {
			margin-top: 3rem;

			&-top {
				justify-content: end;
			}
			&-bottom {
				flex-direction: row;
				justify-content: space-between;
				margin-top: 1rem;
			}
		}
	}
}
